<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div align="center" >
      <p>David De Los Santos</p>
      <p>ID: 1066600</p>
      <p>Opciones: </p>
    </div>
    <div class="list">
      
        <a class="item item-icon-left" href="#">
          <i class="icon ion-plus-circled"></i>
          Agregar Opciones
        </a>
      
        <a class="item item-icon-left" href="#">
          <i class="icon ion-edit"></i>
          Editar Persona
        </a>
      
        <a class="item item-icon-left" href="#">
          <i class="icon ion-trash-a"></i>
          Eliminar Persona
        </a>
      
       
      
      </div>
  </ion-content>
</ion-view>
