<ion-view view-title="Dashboard">
  	<ion-content class="padding">
	 	<section class = "list card">
	        <article class = "item" ng-repeat="newsArticle in news">
	        	<div class="item item-avatar">
			    	<img src="{{newsArticle.urlToImage}}">
			    	<h2>{{newsArticle.title}}</h2>
			    	<p>{{newsArticle.publishedAt}}</p>

			  	</div>
			  	<div class="item item-body">
				    <img class="full-image" src="{{newsArticle.urlToImage}}">
				    <p>
				      	{{newsArticle.description}}
				    </p>
				    <p>
				      	<a href="#" class="subdued">Saved</a>
				    </p>
				</div>
	        </article>
		</section>
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>


