<ion-view view-title="Contacts">
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-contact"></i>
                Luis Mateo
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-contact"></i>
                Lucas Sánchez
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-contact"></i>
                María Marquéz 
            </a>
        </div>
    </ion-content>
</ion-view>